.stories-box {
  padding: 0.2rem 1rem;
}
.stories-box a {
  text-decoration: none;
  color: #333;
}
.title {
  font-size: 16px;
  padding: 0.2rem 0;
}
.story-info-box > span:not(:last-child):after {
  content: " | ";
}
