.list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 5rem;
  background-color: #f4f4f4;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .list-box {
    margin: 0;
  }
}
