.main-box {
  background-color: #f4f4f4;
  height: 500px;
}

.main-box h5 {
  padding: 0.5rem 0 0.7rem 0.5rem;
}

.main-box h4 {
  padding: 1rem 0 0 0;
  margin: 0 1rem;
  border-bottom: 1px #aaa solid;
}

.settings-box {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.setting {
  text-align: center;
}

.setting span {
  padding-right: 1rem;
}

.setting select:focus {
  outline: none;
}
