.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
}

.logo-box {
  display: flex;
  margin-right: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
